<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor de Proyectos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/verproyectos.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/footer.css' %}"> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!------ventanas toast.js------->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/toast.js' %}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">

    <link rel="shortcut icon" href=" {% static 'imagenes/ico/logo-gestor-proyectos-en-azul.ico' %}">
</head>

<body>
    <div class="contenedor-principal">
        <aside class="barra-lateral">
            <img src="{% static 'images/logo-robot.png' %}" alt="imagen proyecto" class="logo">
            <button class="boton-lateral">Editar Proyecto</a></button>
            
                <!--Modal emergente-->
                <div id="modal" class="modal">
                    <div class="modal-content">
                        <div class="content">
                            <div class="inputs">
                                <span class="close-btn">&times;</span>
                                <h2>Configurar proyecto</h2>

                                <!-- FORMULARIO -->
                                <form method="POST">
                                    {% csrf_token %}
                                    <label for="nombre">Nombre del proyecto:</label>
                                    <input type="text" id="nombre" name="nombre" value="{{ proyecto.nombre }}" required>

                                    <label for="descripcion">Descripción:</label>
                                    <textarea id="descripcion" name="descripcion"
                                        required>{{ proyecto.descripcion }}</textarea>

                                    <label for="fecha_inicio">Fecha de inicio:</label>
                                    <input type="date" id="fecha_inicio" name="fecha_inicio"
                                        value="{{ proyecto.fecha_inicio }}" required>

                                    <label for="fecha_fin">Fecha de fin:</label>
                                    <input type="date" id="fecha_fin" name="fecha_fin" value="{{ proyecto.fecha_fin }}"
                                        required>

                                    <label for="progreso">Progreso:</label>
                                    <input type="number" id="progreso" name="progreso" value="{{ proyecto.progreso }}"
                                        min="0" max="100" required>

                                    <button type="submit">Actualizar Proyecto</button>
                                </form>

                                <a href="{% url 'actualizar_proyecto' proyecto.id %}">
                                    <button class="btnactualizar" type="submit" id="boton">Actualizar</button>
                                </a>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            <button class="boton-lateral"><a href="{% url 'verusuarios'%}"></a>Usuarios</button>
            <button class="boton-lateral">Eliminar usuarios</button>
            <button class="boton-lateral">Fechas y anotaciones</button>
            <button class="boton-lateral"><a href="{% url 'proyectos'%}" style="color: #54BCDE;">Volver</a></button>
        </aside>

        <main class="contenido-principal">
            <header class="encabezado">
                <h1>{{ proyecto.nombre }}</h1>
                <div class="fechas">
                    <p>Fecha inicial: {{ proyecto.fecha_inicio }}</p>
                    <p>Fecha final: {{ proyecto.fecha_fin }}</p>
                </div>
            </header>

            <section class="documentos">
                <h2>Descripción</h2>
                <p>{{ proyecto.descripcion }}</p>

            </section>

            <section class="progreso">
                <h3>Progreso del proyecto</h3>
                <div class="barra-progreso">

                </div>
                <p class="porcentaje">{{ proyecto.progreso }}%</p>
            </section>
        </main>
    </div>

    <footer class="footer mb-0">



    

        <!---------Logo----y titulo--Gestorproyectos-------->
        <div class="container">
            <div class="row w-100">
                <div class="col-md-4 mb-4 mb-md-0 text-center">
                    <h5 class="text-uppercase">GESTOR PROYECTOS</h5>
                    <img src="{% static 'imagenes/logo_gestor.png' %}" alt="Logo" class="logo2 img-fluid">
                </div>

                <!----------Redes sociales---------------->
                <div class="col-md-4 mb-4 mb-md-0 text-center">
                    <h5 class="text-uppercase">REDES SOCIALES</h5>
                    <a href="#" class="text-primary mx-3"><i class="fa-brands fa-square-facebook fa-3x"></i></a>
                    <a href="#" class="text-primary mx-3"><i class="fa-brands fa-instagram fa-3x"></i></a>
                    <a href="#" class="text-primary mx-3"><i class="fa-brands fa-whatsapp fa-3x"></i></a>
                </div>

                <!------------------Sobre Nosotros------------------------>
                <div class="col-3 text-center">
                    <h5 class="text-uppercase">NOSOTROS</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text">Home</a></li>
                        <li><a href="#" class="text">Quienes somos</a></li>
                        <li><a href="#" class="text">Preguntas frecuentes</a></li>
                        <li><a href="#" class="text">Términos y condiciones</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <!----------la linea ----------->
        <hr class="txtfooter my-1">
        <div class="text-center">
            <p class="pfooter mb-0  mt-0">© 2024 Gestor de proyectos company. Reservados todos los derechos</p>
        </div>

    </footer>


</body>

</html>