<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor de Proyectos</title>
    {% load static %}



    <!---------Css-------->
    <link rel="stylesheet" href="{% static 'css/verproyectos.css' %}">
     <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/agregarusuario.css' %}">
    <link rel="stylesheet" href="{% static 'css/modaleditar.css' %}">
    <link rel="stylesheet" href="{% static 'css/modalcargar.css' %}">
    <link rel="stylesheet" href="{% static 'css/modaldetalle.css' %}">




    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
    <link rel="shortcut icon" href=" {% static 'imagenes/ico/logo-gestor-proyectos-en-azul.ico' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="contenedor-principal">
        <aside class="barra-lateral">
            <img src="{% static 'imagenes/roibot.jpg' %}" alt="imagen proyecto" class="logo">

            {% if rol_usuario_actual.rol == 'Administrador del departamento'%}
            <button class="boton-lateral" id="openModalBtn2">Editar proyecto</button>
            {% endif %}
            {% if rol_usuario_actual.rol == 'Administrador del departamento' or rol_usuario_actual.rol == 'Tutor'%}
            <button class="boton-lateral" data-bs-toggle="modal" data-bs-target="#modalUsuarios">Ver Usuarios</button>
            {% endif %}
            {% if rol_usuario_actual.rol == 'Administrador del departamento'%}
                <!--1------Inicio del modal emergente------>
                  
                <div id="modal2" class="modal2" style="display: none;">
                    <div class="modal-content">
                        <div class="content">
                            <div class="inputs">
                                <span class="close-btn" id="closeModalBtn2">&times;</span>
                                <h2>Configurar Proyecto</h2>
                
                                <form method="POST" action="{% url 'actualizar_proyecto' proyecto.id %}">
                                    {% csrf_token %}
                                    <div class="input_campos">
                                        <label for="nombre">Nombre</label>
                                        <input class="input_nombre" type="text" name="nombre" value="{{ proyecto.nombre }}" required>
                                    </div>
                
                                    <div class="input_campos">
                                        <label for="descripcion" class="form-label">Descripción</label>
                                        <input class="input_descripcion" type="text" name="descripcion" value="{{ proyecto.descripcion }}" required>
                                    </div>
                
                                    <div class="form-container">
                                        <label for="fecha_inicio">Fecha de Inicio</label>
                                        <input type="date" class="fecha" id="fecha_inicio2" name="fecha_inicio" value="{{ proyecto.fecha_inicio|date:'Y-m-d' }}" required>
                                    
                                        <label for="fecha_fin">Fecha de Fin</label>
                                        <input type="date" class="fecha" id="fecha_fin2" name="fecha_fin" value="{{ proyecto.fecha_fin|date:'Y-m-d' }}" required>
                                    </div>
                
                                    <div class="number-input-container">
                                        <label id="label_progreso2" for="progreso" class="form-label">Progreso</label>
                                        <button type="button" class="decrement" id="decrementBtn2">-</button>
                                        <input type="number" id="progreso2" name="progreso" value="{{ proyecto.progreso }}" min="0" max="100" required>
                                        <button type="button" class="increment" id="incrementBtn2">+</button>
                                    </div>
                                    
                                    <button class="btnactualizar" type="submit">Actualizar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                

                    
                    <!--Fin de modal emergente-->

            {% endif %}

            <!-- Modal para el Tutor -->
            {% if rol_usuario_actual.rol == 'Tutor' %}
            <button class="boton-lateral" data-bs-toggle="modal" data-bs-target="#modalUsuariosTutor">Ver Usuarios</button>
            <!-- Modal solo para visualizar usuarios -->
            <div class="modal fade" id="modalUsuariosTutor" tabindex="-1" aria-labelledby="etiquetaModalUsuariosTutor" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Usuarios</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                        </div>
                        <div class="modal-body" id="listaUsuariosTutor">
                            <ul>
                                {% for miembro in miembros %}
                                <li class="d-flex justify-content-between align-items-center">
                                    <span>{{ miembro.usuario.email }} - Rol: {{ miembro.rol }}</span>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}



            <button class="boton-lateral" data-bs-toggle="modal" data-bs-target="#modalAnotaciones">Anotaciones</button>

            <button class="boton-lateral"><a href="{% url 'proyectos'%}" style="color: #54BCDE;">Volver</a></button>
        </aside>

        <main class="contenido-principal">
            <header class="encabezado">
                <h1>{{ proyecto.nombre }}</h1>
                <div class="fechas">
                    <p>Fecha inicial: {{ proyecto.fecha_inicio }}</p>
                    <p>Fecha final: {{ proyecto.fecha_fin }}</p>
                </div>
            </header>

            <section class="documentos">
                <h2>Descripción</h2>
                <p>{{ proyecto.descripcion }}</p>
            </section>
            <section class="row">
                <div class="col-md-3 mb-3">
                    <div class="project-card" id="project-card-id">
                        <button class="btn btn-view" id="openModalBtnModal3">
                            <i class="fa-solid fa-plus fa-2x"></i>
                        </button>
                        <h5>Cargar Archivos</h5>
                    </div>
                </div>
            
                <!-- Este es el div que contendrá las tarjetas de archivos en el futuro -->
                {% for archivo in archivos %}
                <div class="col-md-3 mb-3">
                    <div class="file-card">
                        <div class="file-header d-flex justify-content-between">
                            <span class="file-icon">E</span>
                            <div class="file-options" data-bs-toggle="modal" data-bs-target="#modal{{ archivo.id }}">•••</div>

                        </div>
                        <div class="file-name" onclick="openModal5()">{{ archivo.nombre }}</div>
                    </div>
                </div>
                {% endfor %}
            </section>
            
            
                

            <section class="progreso">
                <h3>Progreso del proyecto</h3>
                <div class="barra-progreso">

                </div>
                <p class="porcentaje">{{ proyecto.progreso }}%</p>
            </section>
        </main>
    </div>

    {% if rol_usuario_actual.rol == 'Administrador del departamento' or rol_usuario_actual.rol == 'Tutor'%}
    
    <!-- Modal  mostrar usuarios -->
    <div class="modal fade" id="modalUsuarios" tabindex="-1" aria-labelledby="etiquetaModalUsuarios" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Usuarios</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body" id="listaUsuarios">
                    <ul>
                        {% for miembro in miembros %}
                        <li class="d-flex justify-content-between align-items-center">
                            <span>{{ miembro.usuario.email }}</span>
                            <div class="d-flex">
                                {% if rol_usuario_actual.rol == 'Tutor'%}
                                    <span>{{ miembro.rol }}</span>
                                {% elif rol_usuario_actual.rol == 'Administrador del departamento'%}

                                <!--cambiar rol usuario -->
                                <form method="POST" class="me-2">
                                    {% csrf_token %}
                                    <input type="hidden" name="miembro_id" value="{{ miembro.id }}">
                                    <select name="rol" class="form-select form-select-sm me-2">
                                        {% for rol in roles %}
                                        <option value="{{ rol.rol }}" {% if miembro.rol == rol %}selected{% endif %}>{{ rol.rol }}</option>
                                        {% endfor %}
                                    </select>
                                    <button type="submit" name="cambiar_rol" class="btn btn-sm btn-secondary">Cambiar Rol</button>
                                </form>
                    
                                <!--btn eliminar---->
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="miembro_id" value="{{ miembro.id }}">
                                    <button type="submit" name="eliminar_usuario" class="btn btn-danger btn-sm"><i class="fa-solid fa-user-minus"></i></button>
                                </form>
                                {% endif %}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% if rol_usuario_actual.rol == 'Administrador del departamento'%}
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalConfirmacion">Agregar Usuario</button>
                </div>
                {% endif %}
            </div>
            </div>
        </div>
    </div>
    {% if rol_usuario_actual.rol == 'Administrador del departamento'%}
    <!-- ModalConfirmacion -->
    <div class="modal fade" id="modalConfirmacion" tabindex="-1" aria-labelledby="etiquetaModalConfirmacion" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmación de agregar usuario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                            <div class="mb-3">
                                <label for="correo" class="form-label">Correo electrónico</label>
                                <input type="email" class="form-control" name="correo" placeholder="usuario@example.com" required>
                            </div>
                            <div class="mb-3">
                                <label for="rol" class="form-label">Rol</label>
                                <select name="rol" class="form-select" required>
                                    {% for rol in roles %}
                                    <option value="{{ rol.rol }}">{{ rol.rol }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" name="agregar_usuario" class="btn btn-primary" >Agregar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}

    <!---ModalAnotaciones -->
<div class="modal fade" id="modalAnotaciones" tabindex="-1" aria-labelledby="etiquetaModalAnotacion" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Anotaciones</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body" id="Anotaciones">
                <ul class="list-group">
                    {% for comentario in comentarios %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">

                        <div class="user"><span>{{ comentario.usuario.email }}</span></div>
                        <div class="spancomm"><span>{{ comentario.comentario }}</span> </div>
                        <div class="spandate"><span>{{ comentario.fecha_hora|date:"d/m/Y" }}</span> </div>
                        {% if rol_usuario_actual.rol == 'Administrador del departamento'%}
                        <div>
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="comentario_id" value="{{ comentario.id }}">
                                <button type="submit" name="eliminarAnotacion" class="btn btn-danger btn-sm">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </form>
                        </div>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <form method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control" name="anotaciontxt" placeholder="Anotacion" required>
                        <button type="submit" name="agregarAnotacion" class="btn btn-primary">Agregar Anotacion</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal emergente -->
<div id="modal3" class="modal">
    <div class="modal-content3">
        <div class="content">
            <div class="inputs">
                <span class="close-btn-modal3">&times;</span>
                <form method="POST" action="{% url 'verproyectos' id=proyecto.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modalito">
                        <h2>Cargar Archivo</h2>
                        <div class="uploadDocuments">
                            <label for="legalDocumentModal3">Examinar...</label>
                            <input type="file" id="legalDocumentModal3" name="legalDocument" accept="image/*,application/pdf" onchange="showFileNameModal3()" required>
                            <input type="text" name="nombre" placeholder="Ingresa el nombre del archivo" required>
                            <span class="file-name" id="file-name-modal3">No se ha seleccionado ningún archivo</span>
                        </div>
                        <button type="submit" class="btncargar">Cargar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal descripción (modal5) -->
<div id="modal5" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>FACULTAD ROBOT</h1>
                <button type="button" class="btn-close close-btn-modal5" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Un robot, Nace, Crece, Se reproduce y muere...</p>
            </div>
        </div>
    </div>
</div>

{% for archivo in archivos %}
<!-- Modal detalle (modal4) -->
<div id="modal{{ archivo.id }}" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Detalles del documento</h3>
                <button type="button" class="btn-close close-btn-modal4" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>Subido por:</strong> {{ archivo.usuario.username }}</p>
                <p><strong>Tipo de archivo:</strong> {{ archivo.tipo }}</p>
                <p><strong>Tamaño:</strong> {{ archivo.tamaño }}KB</p>
                <p><strong>Fecha modificación:</strong> {{ archivo.fecha_modificacion }}</p>

                <!-- Formulario para eliminar archivo -->
                <form method="POST" action="">
                    {% csrf_token %}
                    <input type="hidden" name="archivo_id" value="{{ archivo.id }}">
                    <button class="btn btn-danger" name="eliminar_archivo" type="submit">Eliminar</button>
                </form>

                <!-- Formulario para descargar archivo -->
                <form method="POST" action="">
                    {% csrf_token %}
                    <input type="hidden" name="archivo_id" value="{{ archivo.id }}">
                    <button class="btn btn-primary" name="descargar_archivo" type="submit">Descargar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}



    {% include "footer.html" %}
    
    <script src="{% static 'js/verproyecto.js' %}"></script>
    <script src="{% static 'js/cargararchivos.js' %}"></script>
    <script src="{% static 'js/modaldetalle.js' %}"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
    const modal4 = document.getElementById('modal4');
    const modal5 = document.getElementById('modal5');
    const closeBtn4 = document.querySelector('.close-btn-modal4');
    const closeBtn5 = document.querySelector('.close-btn-modal5');

   
    function openModal4() {
        modal4.style.display = 'block';
    }


    function closeModal4() {
        modal4.style.display = 'none';
    }


    function openModal5() {
        modal5.style.display = 'block';
    }


    function closeModal5() {
        modal5.style.display = 'none';
    }


    closeBtn4.onclick = function () {
        closeModal4();
    }

    closeBtn5.onclick = function () {
        closeModal5();
    }

   
    window.onclick = function (event) {
        if (event.target == modal4) {
            closeModal4();
        } else if (event.target == modal5) {
            closeModal5();
        }
    }


    window.openModal4 = openModal4;
    window.openModal5 = openModal5;
});

</script>


    
</body>

</html>
