
/*Vista Ver usuarios   #modalUsuarios*/

#modalUsuarios span{
    color: #0E2B3E;
}

#modalUsuarios .modal-dialog{
    max-width: 600px;
}
#modalUsuarios .modal-title{
    color:#0E2B3E;
    font-weight: bold;
}
#modalUsuarios .miembro_id{
    color: #0E2B3E;
}
#modalUsuarios .modal-body form{
    display: inline;
    
}



#modalUsuarios li{
    
    margin: 10px 10px;
}
#modalUsuarios .selectbtn{
    display: contents;
}
#modalUsuarios .form-select{
    display: inline;
    width: auto;
    margin-left:5px;
    color: #0E2B3E;
    
}
#modalUsuarios .btn-primary{
    background-color: #0E2B3E;
    color: #54BCDE;
}

#modalUsuarios .btn-secondary{
    background-color: #0E2B3E;
    color: #54BCDE;
    height: 30px;
    
}

#modalUsuarios .btn-danger{
    background-color: #FF4C4C;
    color: #0E2B3E;
    height: 30px;
}

/*Vista agregar usuarios   #modalConfirmacion*/

#modalConfirmacion .btn-primary{
    background-color: #0E2B3E;
    color: #54BCDE;
}

/*vista modal Anotaciones #modalAnotaciones*/

#modalAnotaciones .btn-primary {
    background-color: #0E2B3E;
    color: #54BCDE;
}

#modalAnotaciones .modal-dialog {
    max-width: 700px;
    max-height: auto;
}

#modalAnotaciones .modal-title{
    font-weight: bold;
    color: #0E2B3E;
}

#modalAnotaciones .spancomm {
    text-align: justify;
    width: 400px;
    margin-left: 50px;
}

#modalAnotaciones .spandate {
    color: #3232328f;
    
    text-align: center;
    padding-right:  10px;


}

#modalAnotaciones .btn-danger {
    background-color: #FF4C4C;
    color: #0E2B3E;
    height: 30px;
}