
/*Vista Ver usuarios   #modalUsuarios*/

#modalUsuarios .modal-dialog{
    max-width: 550px;
}
#modalUsuarios .modal-title{
    color:#0E2B3E;
}


#modalUsuarios .modal-body form{
    display: inline;
    
}

#modalUsuarios li{
    
    margin: 5px 10px;
}

#modalUsuarios .form-select{
    display: inline;
    width: 115px;
    margin-left:5px;
    
}









#modalUsuarios .btn-primary{
    background-color: #0E2B3E;
    color: #54BCDE;
}

#modalUsuarios .btn-secondary{
    color: #0e2b3e72;
    
    margin-left: 5px;
    wi
}

#modalUsuarios .btn-danger{
    background-color: #ff00008d;
    color: #000000;
    margin-left: 5px;
    width: 30px;
}
