    /* Estilos generales */
    
    .modal {
        scrollbar-width: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        display: flex;
        align-items: center;
        position: relative;
    }
    
    .modal-content1 {
        background-color: #fff;
        position: relative;
        padding: 20px 40px 40px 30px;
        border: 1px solid #888;
        width: 500px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin:  2% 32% 14% 32%;
        max-height: 100%; 
    }
    
    .close-btn1 {
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
        color: red;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 90%;
        top: 20px;
        z-index: 5;
    }
    
    .close-btn:hover,
    .close-btn:focus {
        color: #000;
        text-decoration: none;
    }
    
    .input_campos input,
    .input_campos textarea {
        background-color: #0E2B3E;
        color: white;
        border: solid 1px white;
        width: 90%;
    }
    
    .input_nombre {
        margin: 10px 0;
        height: 25px;
    }
    
    .input_nombre::placeholder,
    .input_descripcion::placeholder {
        color: white;
    }
    
    .input_descripcion {
        height: 80px;
        resize: vertical;
    }
    
    .form-container input {
        border: solid 1px white;
        width: 90%;
        height: 38px;
        color: white;
        background-color: #0E2B3E;
    }
    
    h2, label {
        color: #0E2B3E;
        font-family: "Libre Franklin", sans-serif;
        font-weight: 600;
    }
    
    .fecha {
        margin: 20px 0;
        padding-left: 5px;
    }
    
    .progreso{
      margin: 20px 0;
      padding-left: 5px;
    }
    h2 {
        font-size: 20px;
        text-align: center;
        margin-top: 2px;
    }
    
    .btnactualizar {
        background-color: #0E2B3E;
        color: #54BCDE;
        width: 100%;
        height: 40px;
        font-family: "Libre Franklin", sans-serif;
        font-weight: 700;
    }

.btnactualizar {
    background-color: #0E2B3E;
    color: #54BCDE;
    width: 90px;
    height: 40px;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 700;
    margin: 0% 40%;
}

/* Progreso */

.number-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 24px 10px;
    background-color: #0E2B3E;
      color: white;
      border: solid 1px white;
      width: 90%;
      
    
}

input[type="number"] {
    color: #54BCDE;
    text-align: center; 
    width: 500px;
    height: 30px;
    margin: 0;
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
    font-size: 20px;
}

button.decrement, button.increment {
    background-color: #0E2B3E;
    color: #54BCDE;
    border: 1px solid #ddd;
    width: 140px;
    height: 30px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.decrement {
    border-radius: 5px 0 0 5px; 
}

button.increment {
    border-radius: 0 5px 5px 0; 
}

button:focus {
    outline: none;
}

/* Media Query para Tablets */
@media (max-width: 998px) {
    .modal .modal-content1 {
        width: 80%; 
        margin: 5% auto; 
        padding: 15px; 
    }

    .input_campos,
    .form-container {
        display: flex;
        flex-direction: column; 
        align-items: flex-start;
        margin: 10px 0; 
    }
    .input_campos input{
        width: 97%;
    }
    .input_campos textarea{
        width: 97%;

    }
    .input_campos label{
margin: 0 auto;
 }
 .form-container label{
margin: 0 auto;

 }
    .fecha{
        margin: 0;
        padding: 0;
    }
.form-container input{
    margin: 0 0 0 10px !important;
}
    .input_nombre,
    .input_descripcion,
    .form-container input {
        width: calc(100% - 20px) ; /* Hacer los campos de entrada responsivos */
        margin: 0 !important; /* Eliminar márgenes que causan desbordamiento */
    }

  

    h2 {
        font-size: 20px; /* Aumentar el tamaño de fuente en tabletas */
        text-align: center; /* Centrar el título */
    }
}

/* Media Query para Móviles */
@media (max-width: 480px) {
    .modal .modal-content1 {
        width: 95%; /* Aumentar el ancho en móviles */
        padding: 10px; /* Ajustar el padding */
        min-height: 100vh; 

    }

    h2 {
        font-size: 18px; /* Ajustar el tamaño de fuente */
    }

    .input_campos,
    .form-container {
        flex-direction: column; /* Alinear inputs verticalmente */
        align-items: flex-start; /* Alinear a la izquierda */
        width: 100%; /* Asegurarse de que ocupen todo el ancho */
    }

    .input_nombre,
    .input_descripcion,
    .form-container input {
        width: 100%; /* Hacer los campos de entrada responsivos */
        margin: 5px 0; /* Espacio entre campos */
    }

    .number-input-container {
        flex-direction: column; /* Colocar los botones en columna */
        align-items: flex-start; 
        width: 100%;
    }

    button.decrement, button.increment {
        width: 30px; 
        height: 30px; 
        margin: 5px 0; 
    }

    .btnactualizar {
        width: 100%; 
        margin: 15px 0; 
    }
}
