.file-card {
    position: absolute;
    /* Aseguramos que se posicione en su contenedor padre */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12%;
    /* Ajustamos el ancho para que ocupe todo el espacio del contenedor */
    height: auto;
    /* Ajustamos la altura para que sea flexible */
    margin: -300px 300px;
    /* Centramos el cuadro */
    padding: 30px 20px;
    border: 2px solid #54BCDE;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.file-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.file-icon {
    font-size: 24px;
    font-weight: bold;

}

.file-options {
    cursor: pointer;
    font-size: 25px;
    margin-top: -36px;
    margin-right: -17px;
    

}

.file-name {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content4{
    text-align: start;
    background-color: #fefefe;
    margin: 10% auto;
    /* Centrar verticalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    /* Ancho del modal */
    border-radius: 10px;
    /* Bordes redondeados */
    span{
        padding-left: 10px;
    }
    h3{
        text-align: center;
    }
}



/* Estilo de la secci칩n del modal */
.modalito4 {
    position: relative;
    padding: 20px;
    /* Ajustar el padding */
}

h3 {
    
    margin-bottom: 15px;
    /* Menos espacio */
    font-size: 20px;
    /* Tama침o m치s adecuado */

}

.delete-btn {
    background-color: #274960;
    color: #54BCDE;
    font-size: 21px;
    font-weight: 690;
    width: 220px;
    height: 40px;
    border-radius: 16px;
    margin-top: 40px;
    margin-left: 24%;
}

.close-btn-modal4 {
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    background-color: red;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: -6% 0 0 480px;
    z-index: 5;
    display: block;
}

/* Estilos del modal descripcion */
.modal {
    display: none;
    /* Oculto por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 80px;
    border: 2px solid #888;
    width: 100px;
    text-align: center;
    border-radius: 10px;
}

/* Estilo de la secci칩n del modal */
.modalito4 {
    position: relative;
    padding: 20px;
    /* Ajustar el padding */
    h3{
        margin-bottom: 45px;
        font-family: "Libre Franklin", sans-serif;
        font-weight: 700;

    }
    p{
        font-family: "Libre Franklin", sans-serif;
        font-weight: 700;
    }
}

.modal-content5{
    background-color: #fefefe;
     margin: 10% auto;
       padding: 20px;
        border: 1px solid #888;
         width: 25%; height: 70%;
     border-radius: 10px; 
      border: solid 13px #54BCDE;
}

.close-btn-modal5 {
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    background-color: red;
    color: white;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin: -13% 0 0 270px;
    padding-bottom: 15px;
    padding-left: 10px;
    z-index: 5;
    display: block;

}
.modalito5{
    text-align: center;
    h1{
        margin-bottom: 18px;
        font-weight: 600;
        font-size: 24px;
       }
       p{
        padding: 15px 20px;
        line-height: 30px;
        font-size: 14px;
        font-family: "Libre Franklin", sans-serif;
       }
}

/* Estilo del contenido del modal */
.modal-content h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.modal-content p {
    font-size: 16px;
    font-family: 'Arial', sans-serif;
}
