html {
    padding: 0;
    margin: 0;
    scrollbar-width: none;
    overflow: hidden;
    box-sizing: border-box;

}

body {
    background-color: #274960 !important;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 300;
}

.login {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
}

.content {
    display: flex;
}

.image {
    width: 45%;

    height: 100%;

    margin-top: -8PX;

}

.inputs {
    width: 27%;
    margin-left: 20px;
    margin-top: 2%;

}

.inputs label {
    margin-left: 10px;
    padding-top: 2%;
    color: white;
    font-size: 13px;
    font-weight: 450;
}


.image img {
    margin-left: 100px;
    width: 180%;
    height: 85%;

}

.inputs img {
    margin: 0;
    margin-left: 65px;
    padding-bottom: 40px;
    width: 80%;
}

.material-symbols-outlined {
    color: white;
    font-variation-settings:
        'FILL' 1,
        'wght' 200,
        'GRAD' 0,
        'opsz' 24
}

.inputs span {
    font-size: 100px;
    margin-left: 160px;
}

.nombre {
    margin: 30px 0 20px 25px;
    background-color: #274960;
    border: 1px solid rgba(255, 255, 255, 0.664);
    box-shadow: 2px 3px 4px black;

}


.correo {
    margin: 30px 0 40px 25px;
    background-color: #274960;
    border: 1px solid rgba(255, 255, 255, 0.664);
    box-shadow: 2px 3px 4px black;
}

.password {
    margin-left: 59px;
    background-color: #274960;
    border: 1px solid rgba(255, 255, 255, 0.664);
    box-shadow: 2px 3px 4px black;
    color: white;
}

.nombre,
.correo,
.password {
    color: white;
}

.correo:hover {

    border: 1px solid #257fbb;
}

.password:hover {

    border: 1px solid #257fbb;
}

#boton {
    background-color: #162e3d;
    border: none;
    border-radius: 20px;
    padding: 10px 40px;
    margin-top: 80px;
    margin-left: 130px;
    font-weight: bold;
    margin-bottom: 50px;

}

#boton:hover {
    transform: scale(106%);
}

#botonr {
    background-color: #162e3d;
    border: none;
    border-radius: 20px;
    padding: 10px 40px;
    margin-top: 60px;
    margin-left: 130px;
    font-weight: bold;
    margin-bottom: 50px;

}

.inputs a {
    text-decoration: none;
    color: #74b7f5;
    font-weight: 400;
}

.inputs a:hover {
    color: #009dff;

}

.inputs h6 {
    color: white;
    font-weight: 100;
    text-align: center;
    margin-left: 80px;
    font-family: "Libre Franklin", sans-serif;
}

.crear {
    color: #54BCDE;
    margin-left: 140px;
    font-size: 120%;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;


}

@media (min-width: 992px) and (max-width: 1276px) {

    .login {
        height: 300px !important;
    }

    .correo {
        margin-right: -15vw;

    }

    .password {
        margin-right: -15vw;

    }

    .image img {
        margin-left: 100px;
        width: 111vw;
        height: auto;

    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .content {
        flex-direction: column;
        align-items: center;
        scrollbar-width: auto;
        margin-top: 20%;
    }

    .img_logo {
        width: 12px;

    }

    .inputs span {
        display: none;

    }

    .image,
    .inputs {
        width: 90%;
        margin-top: 8%;
        margin: 0;
    }

    .password {
        margin: 5% 5% 0 14% !important;
    }

    .image img {
        width: 80%;
        height: 60%;
        margin: auto;
        display: none;
    }

    .inputs {
        width: 90%;
        margin-top: 10%;
    }

    .input_campos input {
        width: 60%;
        margin: 0 10%;
    }

    .inputs span {
        font-size: 80px;
        margin-left: 0;
        display: block;
        text-align: center;
    }

    #boton {
        margin: 30px auto;
        display: block;
        padding: 10px 300px;
    }

    .inputs h6 {
        text-align: center;
        margin-left: 0;
    }

    .inputs img {
        width: 40%;
        margin: 1% 30%;
    }

    .crear {
        margin-left: 0;
        text-align: center;
    }
}

@media (min-width: 582px) and (max-width: 767px) {
    body {
        margin: auto;
        background-image: url('imagenes/logo.png');
        background-size: cover;
        background-position: center;
        margin-top: 30%;
    }

    .inputs span {
        display: none;

    }

    .content {
        flex-direction: column;
    }

    .image {
        display: none;
    }

    .inputs {
        width: 90%;
        padding: 20px;
        border-radius: 10px;
        position: relative;
    }

    .input_campos input {
        width: 65%;
    }

    .correo {
        margin-right: 1%;

    }

    .password {
        margin-right: 3%;
    }

    .inputs img {
        width: 220px;
        margin: 0 33%;
    }

    .nombre,
    .correo,
    .password {
        font-size: 16px;
        padding: 12px;
    }

    #boton {
        font-size: 14px;
        padding: 10px 32px;
        margin: 5% 45%;
    }

    .crear {
        text-align: center;
        font-size: 1.2em;
        margin-top: 20px;
        color: #54BCDE;
        font-weight: bold;
    }
}

@media (max-width: 581px) {
    body {
        margin: auto;
        background-image: url('imagenes/logo.png');
        background-size: cover;
        background-position: center;
        margin-top: 40%;


    }

    #person {

        display: none !important;
    }

    .content {
        flex-direction: column;
    }

    .image {
        display: none;
    }

    .inputs {
        text-align: center;
        width: 90%;
        padding: 20px;
        border-radius: 10px;
        position: relative;
    }

    .input_campos input {
        width: 70%;
        height: 30px;
    }

    .input_campos label {
        margin-right: 20%;
        margin-left: -11%;
    }

    .correo {
        position: relative;

        margin-top: 5%;

        margin-right: 1%;

    }

    .password {
        position: relative;
        margin-top: 5%;
        margin-left: 6%;
    }

    .inputs img {
        width: 220px;
        margin: 0 8% 0 27%;
    }

    .inputs span {
        display: flex;
        margin: 6% 0 8% 40%;
    }

    .nombre,
    .correo,
    .password {
        font-size: 16px;
        padding: 12px;
    }

    #boton {
        padding: 8px 32px;
        margin: 8% 34%;
    }

    .crear {
        text-align: center;
        font-size: 1.2em;
        margin-top: 20px;
        color: #54BCDE;
        font-weight: bold;
    }

    .inputs h6 {
        text-align: center !important;
        margin-left: 0;
    }

    .inputs img {
        width: 220px;
        margin: 0 8% 0 7%;
    }

}