body {
    background-color: #ffffff;
}
.container {
    max-width: 1000px;
    margin-top: 40px;
}
.search-bar {
    width: 400px;
    border-radius: 30px;
    border: 1px solid #ccc;
    padding: 10px 20px;
    background-color: #0E2B3E;
    color: #54BCDE;
}

.search-bar::placeholder{
    color: #54BCDE;
    opacity: 0.6;
}

/* Para pantallas pequeñas (menos de 576px) */
@media (max-width: 575.98px) {
    .search-bar {
        width: 100%; /* Ancho completo en pantallas pequeñas */
        padding: 8px 15px; /* Ajustar el padding */
        border-radius: 20px; /* Hacer los bordes un poco menos redondeados */
    }
}

/* Para pantallas medianas (entre 576px y 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .search-bar {
        width: 80%; /* Ancho del 80% en pantallas medianas */
        padding: 9px 18px; /* Ajustar el padding */
        border-radius: 25px; /* Bordes ligeramente redondeados */
    }
}

.filter-btn {
    background-color: #0E2B3E;
    color: #54BCDE;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;


    
}

.Botonfilter{
    background-color: #0E2B3E;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: auto;
    
}

.Botonfilter i{
    color: #54BCDE;
    
}

.Botonfilter span{
    color: #54BCDE;
    font-weight: bolder;
    font-size: 18px;
}

/*menuchikito*/

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}


.welcome-text {
    font-size: 24px;
    color: #54BCDE;
    text-align: center;
    margin-bottom: 30px;
    font-size: 45px;
    display: flexbox;
    width: 100%;
}


.project-title {
    font-size: 30px;
    font-weight: bold;
    color:#54BCDE;
    
}
.project-card {
    border: 4px solid #0E2B3E;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    color: #0E2B3E;
    margin-bottom: 30px;
    transition: box-shadow 0.3s;
}
.project-card:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    background-color: #dcdcdc;
    
}
.project-card h5 {
    font-weight: bold;
    border-bottom: 30px;
    
}
.project-card p {
    color: #000;
    font-weight: bolder;
}
.btn-view {
    border-radius: 15px;
    color: #54BCDE;    ;
    padding: 10px 10px;
    background-color: #0E2B3E;

}

.btn-crear{
    color: #0E2B3E;
    border: #0E2B3E 5px solid;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-bottom: 13px;
    padding: 0;
}

.btn-crear:hover{
    border: #54BCDE 5px solid;
    color: #54BCDE;

}






.btn-view:hover {
    background-color: #031d2e;
    color: #ffffff;
    transform: scale(1.03);
    transition: 0.2s ease-in-out;

}
.profile-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #54BCDE;
    margin-left: auto;
    

    
    
}

.profile-icon #fotoperfil{
    color: #54BCDE;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}


